  body{
      height:100vh;
      display:flex;
      justify-content:center;
      align-items:center;
      background:linear-gradient(135deg,#4facfe,#00f2fe);
      font-family:Arial, Helvetica, sans-serif;
    }

    .counter-box{
      background:#fff;
      padding:40px;
      border-radius:20px;
      text-align:center;
      box-shadow:0 10px 25px rgba(0,0,0,0.2);
      width:300px;
    }

    h1{
      margin-bottom:20px;
    }

    #count{
      font-size:60px;
      margin:20px 0;
      font-weight:bold;
    }

    button{
      padding:10px 18px;
      margin:5px;
      border:none;
      border-radius:10px;
      font-size:18px;
      cursor:pointer;
      transition:0.2s;
    }

    .increase{ background:#28a745; color:#fff; }
    .decrease{ background:#dc3545; color:#fff; }
    .reset{ background:#007bff; color:#fff; }

    button:hover{
      transform:scale(1.05);
    }